<div class="row mb-5">
    <div class="col-12">
      <form (ngSubmit)="onSubmitPostForm()" #postForm="ngForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-tag"></i></span>
            </div>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': title.touched && title.errors}" placeholder="Title"
              name="title" [(ngModel)]="post.title" #title="ngModel" required>
            <div class="invalid-feedback" *ngIf="title.errors && title.touched && title.errors.required">
              Please enter a title.
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-edit"></i></span>
            </div>
            <textarea type="text" class="form-control" [ngClass]="{'is-invalid': content.touched && content.errors}" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
              name="content" [(ngModel)]="post.content" #content="ngModel" required></textarea>
            <div class="invalid-feedback" *ngIf="content.errors && content.touched && content.errors.required">
              Please enter content.
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!postForm.valid">Send</button>
          </div>
      </form>
    </div>
  </div>